:root{
    --background-color : #000;
    --background-color2 : #36393F;
    --translucent-color : #00000099;
    --primary-color : #34A853;
    --link-color : #7DBB02;
    --text-color : #fff;
    --text-color2 : #B9BBBE;
    --text-color3 : #72767D;
    --input-background : #303339;
    --input-strokes : #222428;
}
body{
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
    overflow-y: hidden;
}
#topbar{
    display: flex;
}

#topOptions{
    display: flex;
    width: auto;
    position: absolute;
    right: 0px;
}
#minimize_btn{
    margin: 0px 1px;
    position: relative;
    cursor: pointer;
}
#maximize_btn{
    margin: 6px 20px;
    position: relative;
    cursor: pointer;
    height: 15px;
}
#close_btn:hover{
    background-color: crimson;
    cursor: pointer;
    object-fit: cover;
}
#close_btn {
    height: 30px;
}

#draggable-area{
    margin: 0px 20px;
    position: relative;
}

#main{
    display: flex;
}

#side_bar{
    background: var(--background-color);
    height: 100%;
    width: 75px;
    border-right: 1px solid var(--background-color);
}
#side_menu{
    padding: 25px;
}
#side_menu img{
    display: block;
    margin-top: 45px;
    cursor: pointer;
    opacity: 0.9;
    width: 28px;
    filter: grayscale(100%) brightness(200%);
}
#side_menu img:hover{
   opacity: 1;
   filter: grayscale(0%) brightness(100%);
}
#search_bar{
    width: 370px;
    height: 800px;
    background: var(--background-color2);
}

#search_box{
    display:flex;
       
}

#search_menu{
    position:absolute;
    border: none;
    width: 370px;
    height: 45px;
    padding-left: 90px;
    z-index: 1;
    background-color: var(--input-background);
    font-size: medium;
}

#search_icon{
    position: relative;
    padding-left:20px;
    padding-top: 10px;
    z-index: 2;
}


#search_filter{
    position: relative;
    padding-left:290px;
    padding-top: 10px;
    z-index: 2;
}

#full{
    width: 1370px;
    height: 800px;
    background: var(--background-color);
}